@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/pacifico.eot');
  src: url('../fonts/pacifico.woff') format('woff'),
       url('../fonts/pacifico.ttf') format('truetype')
}
.cm-s-default {
    width: 430px;
}
h1 {
	font-family: 'Pacifico';
}
.toolbar {
    margin-top: -25px;
    height: 60px;
    padding-top: 20px;
}
.header {
    position: absolute;
    right: 100px;
    top: -5px;
}
.widget {
    cursor:move;
}
.label {
    font-family: Pacifico !important;
}
.draggable {
  border: 3px solid yellow;
}
#cypher-drag {
    position: absolute;
    left: 15px;
    top: 24px;
    font-size: 20px;
}
#cypher-query {
	position: absolute;
    min-height: 73px;
    min-width: 400px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    padding: 10px;
    left: 20px;
    top: 17px;
    color: white;
}

#cypher-query > .options {
    color: white;
}
#graph-options {
	position: absolute;
    min-height: 73px;
    width: 440px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    padding: 10px;
    right: 10px;
    top: 140px;
    color: white;	
}
.code {
	padding: 5px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 6px;
    color: black;
    width: 420px;
}
.swap-btn {
	font-size: 20px;
    background-color: transparent;
    border: none;
}